WeatherChat/weather_chatbot_workflow.json
{
  "name": "Weather Chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "weather-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1a2b3c4d-0001-0001-0001-000000000001",
      "name": "Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "weather-chatbot-hook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $env.GEMINI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Extract ONLY the city name from this weather query. Reply with just the city name and nothing else (no punctuation, no explanation). If no city is mentioned, reply with the single word: UNKNOWN\\n\\nQuery: {{ $('Chat Webhook').item.json.body.message }}\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "1a2b3c4d-0002-0002-0002-000000000002",
      "name": "Extract City",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "asn-city",
              "name": "city",
              "value": "={{ $json.candidates[0].content.parts[0].text.trim() }}",
              "type": "string"
            },
            {
              "id": "asn-msg",
              "name": "userMessage",
              "value": "={{ $('Chat Webhook').item.json.body.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1a2b3c4d-0003-0003-0003-000000000003",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-city",
              "leftValue": "={{ $json.city }}",
              "rightValue": "UNKNOWN",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1a2b3c4d-0004-0004-0004-000000000004",
      "name": "City Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $('Set Variables').item.json.city }}"
            },
            {
              "name": "appid",
              "value": "={{ $env.OPENWEATHER_API_KEY }}"
            },
            {
              "name": "units",
              "value": "metric"
            }
          ]
        },
        "options": {}
      },
      "id": "1a2b3c4d-0005-0005-0005-000000000005",
      "name": "Get Weather",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $env.GEMINI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"You are a friendly weather assistant. Answer the user's question in 2-3 conversational sentences. Be helpful and include relevant details.\\n\\nUser question: {{ $('Set Variables').item.json.userMessage }}\\n\\nCurrent weather in {{ $json.name }}, {{ $json.sys.country }}:\\n- Temperature: {{ $json.main.temp }}°C (feels like {{ $json.main.feels_like }}°C)\\n- Condition: {{ $json.weather[0].description }}\\n- Humidity: {{ $json.main.humidity }}%\\n- Wind speed: {{ $json.wind.speed }} m/s\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "1a2b3c4d-0006-0006-0006-000000000006",
      "name": "Format Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"reply\": \"{{ $json.candidates[0].content.parts[0].text.replace(/\\\"/g, '\\\\\"').replace(/\\n/g, '\\\\n') }}\",\n  \"city\": \"{{ $('Set Variables').item.json.city }}\",\n  \"condition\": \"{{ $('Get Weather').item.json.weather[0].main }}\",\n  \"icon\": \"{{ $('Get Weather').item.json.weather[0].icon }}\",\n  \"temp\": {{ $('Get Weather').item.json.main.temp }},\n  \"country\": \"{{ $('Get Weather').item.json.sys.country }}\"\n}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "1a2b3c4d-0007-0007-0007-000000000007",
      "name": "Weather Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"error\",\n  \"reply\": \"I couldn't find a city in your message. Try asking something like: What's the weather in London? or Is it raining in Mumbai?\"\n}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "1a2b3c4d-0008-0008-0008-000000000008",
      "name": "No City Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 440]
    }
  ],
  "connections": {
    "Chat Webhook": {
      "main": [
        [{ "node": "Extract City", "type": "main", "index": 0 }]
      ]
    },
    "Extract City": {
      "main": [
        [{ "node": "Set Variables", "type": "main", "index": 0 }]
      ]
    },
    "Set Variables": {
      "main": [
        [{ "node": "City Found?", "type": "main", "index": 0 }]
      ]
    },
    "City Found?": {
      "main": [
        [{ "node": "Get Weather", "type": "main", "index": 0 }],
        [{ "node": "No City Response", "type": "main", "index": 0 }]
      ]
    },
    "Get Weather": {
      "main": [
        [{ "node": "Format Response", "type": "main", "index": 0 }]
      ]
    },
    "Format Response": {
      "main": [
        [{ "node": "Weather Response", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "pinData": {}
}
