LinkedinPost/linkedin_post_workflow.json
{
  "name": "LinkedIn Post Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "linkedin-post",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "lip-0001-0001-0001-0001-000000000001",
      "name": "Post Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "linkedin-post-hook"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://raw.githubusercontent.com/saurabh7879/Automation/n8n/LinkedinPost/topics.csv",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "lip-0002-0002-0002-0002-000000000002",
      "name": "Fetch CSV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "functionCode": "var raw = items[0].json.data || items[0].json.body || '';\nvar lines = raw.split(/\\r?\\n/).filter(function(l) { return l.trim(); });\n\nif (lines.length < 1) {\n  return [{ json: { Topic: '' } }];\n}\n\nfunction parseCSVLine(line) {\n  var result = [];\n  var current = '';\n  var inQuotes = false;\n  for (var i = 0; i < line.length; i++) {\n    var ch = line[i];\n    if (ch === '\"') { inQuotes = !inQuotes; }\n    else if (ch === ',' && !inQuotes) { result.push(current.trim()); current = ''; }\n    else { current += ch; }\n  }\n  result.push(current.trim());\n  return result;\n}\n\nvar first = null;\nfor (var i = 0; i < lines.length; i++) {\n  var vals = parseCSVLine(lines[i]);\n  if (vals[0] && vals[0].trim()) {\n    first = { Topic: vals[0] || '', Tone: vals[1] || 'professional', Audience: vals[2] || 'professionals' };\n    break;\n  }\n}\n\nreturn first ? [{ json: first }] : [{ json: { Topic: '' } }];"
      },
      "id": "lip-0003-0003-0003-0003-000000000003",
      "name": "Parse CSV",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.Topic }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "lip-0004-0004-0004-0004-000000000004",
      "name": "Topic Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "key", "value": "={{ $env.GEMINI_API_KEY }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"contents\":[{\"parts\":[{\"text\":\"You are a LinkedIn content expert. Write a LinkedIn post for the topic below. Follow the format exactly.\\n\\nTopic: {{ $('Parse CSV').item.json.Topic }}\\nTone: {{ $('Parse CSV').item.json.Tone || 'professional' }}\\n\\nFORMAT (follow this structure line by line):\\n1. [tool/building emoji] [Topic]: [Catchy subtitle]\\n2. (blank line)\\n3. One sentence explaining what the topic is.\\n4. (blank line)\\n5. pointing hand emoji Real-time Example: [scenario]\\n6. shopping/relevant emoji sub-point 1\\n7. relevant emoji sub-point 2\\n8. relevant emoji sub-point 3\\n9. relevant emoji sub-point 4\\n10. One closing sentence tying the example together.\\n11. (blank line)\\n12. lightning emoji Pros:\\n13. positive point emoji\\n14. positive point emoji\\n15. (blank line)\\n16. warning emoji Cons:\\n17. negative point\\n18. negative point emoji\\n19. (blank line)\\n20. bulb emoji In short: [one sentence core tradeoff]\\n21. (blank line)\\n22. thought bubble emoji Question for you: [engaging question]\\n23. (blank line)\\n24. down arrow emoji Share your thoughts!\\n25. (blank line)\\n26. #Tag1 #Tag2 #Tag3 #Tag4 #Tag5\\n\\nUse real emojis in the output (not the words like 'lightning emoji'). Return ONLY the post text.\"}]}]}",
        "options": {}
      },
      "id": "lip-0005-0005-0005-0005-000000000005",
      "name": "Generate Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization",              "value": "=Bearer {{ $env.LINKEDIN_ACCESS_TOKEN }}" },
            { "name": "Content-Type",               "value": "application/json" },
            { "name": "X-Restli-Protocol-Version", "value": "2.0.0" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"author\": \"{{ $env.LINKEDIN_PERSON_URN }}\",\n  \"lifecycleState\": \"PUBLISHED\",\n  \"specificContent\": {\n    \"com.linkedin.ugc.ShareContent\": {\n      \"shareCommentary\": {\n        \"text\": \"{{ $json.candidates[0].content.parts[0].text.trim().replace(/\\\"/g, '\\\\\"') }}\"\n      },\n      \"shareMediaCategory\": \"NONE\"\n    }\n  },\n  \"visibility\": {\n    \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\"\n  }\n}",
        "options": {}
      },
      "id": "lip-0006-0006-0006-0006-000000000006",
      "name": "Publish to LinkedIn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"topic\": \"{{ $('Parse CSV').item.json.Topic }}\",\n  \"linkedInPostId\": \"{{ $json.id }}\",\n  \"postContent\": \"{{ $('Generate Post').item.json.candidates[0].content.parts[0].text.trim().replace(/\\\"/g, '\\\\\"').replace(/\\n/g, '\\\\n') }}\"\n}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type",                "value": "application/json" }
            ]
          }
        }
      },
      "id": "lip-0007-0007-0007-0007-000000000007",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"done\",\n  \"message\": \"No topics found in CSV. Add rows to linkedin-topics.csv and re-upload.\"\n}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type",                "value": "application/json" }
            ]
          }
        }
      },
      "id": "lip-0008-0008-0008-0008-000000000008",
      "name": "No Topics Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 440]
    }
  ],
  "connections": {
    "Post Webhook": {
      "main": [[{ "node": "Fetch CSV", "type": "main", "index": 0 }]]
    },
    "Fetch CSV": {
      "main": [[{ "node": "Parse CSV", "type": "main", "index": 0 }]]
    },
    "Parse CSV": {
      "main": [[{ "node": "Topic Exists?", "type": "main", "index": 0 }]]
    },
    "Topic Exists?": {
      "main": [
        [{ "node": "Generate Post",     "type": "main", "index": 0 }],
        [{ "node": "No Topics Response","type": "main", "index": 0 }]
      ]
    },
    "Generate Post": {
      "main": [[{ "node": "Publish to LinkedIn", "type": "main", "index": 0 }]]
    },
    "Publish to LinkedIn": {
      "main": [[{ "node": "Success Response", "type": "main", "index": 0 }]]
    }
  },
  "settings":   { "executionOrder": "v1" },
  "staticData": null,
  "tags":       [],
  "pinData":    {}
}
